<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>الطلبات</h1>
            <h3></h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round">العودة للواجهة الرئيسية</button>
        </div>
    </div>
</div>
<div class="main" style="direction: rtl;">
    <div class="section text-center">
        <div class="container">
            
    <button class="btn btn-danger btn-lg btn-fill" (click)="addOrder()">
        <li class="nc-icon nc-simple-add"></li>
    </button>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-album-2"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">طلبية 1</h4>
                                    <p class="description">في الطريق</p>
                                    <a (click)="showOrder()" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">طلبية 2</h4>
                                    <p class="description">في المخزن</p>
                                    <a (click)="showOrder()" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">طلبية 3</h4>
                                    <p class="description">في الطريق</p>
                                    <a (click)="showOrder()" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-sun-fog-29"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">طلبية 4</h4>
                                    <p class="description">في الطريق</p>
                                    <a (click)="showOrder()" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</div>